<%- include('../includes/head.ejs') %>
  </head>

  <body>
    <%- include('../includes/navigation.ejs') %>

      <main>
        <% if (products.length> 0) { %>
          <ul>
            <% for (let product of products) { %>
              <li>
                <p>
                  <%= product.productData.title %> - <%= product.productData.price %> € - [<%= product.qty %>]
                </p>
                <form action="/cart-delete-item" method="POST">
                  <input type="hidden" name="itemId" id="itemId" value="<%= product.productData.id %>">
                  <input type="hidden" name="itemPrice" id="itemPrice" value="<%= product.productData.price %>">
                  <button class="btn">x</button>
                </form>
              </li>
              <% } %>
                <h1>Total : <%= total %> €</h1>
          </ul>
          <div class="centered">
            <form action="/create-order" method="POST">
              <button type="submit" class="btn">Order now !</button>
            </form>
          </div>
          <% } else { %>
            <h1>your cart is empty</h1>
            <% } %>
      </main>
      <%- include('../includes/end.ejs') %>